@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome, this is a quick app I built to practice some skills, have a good time exploring!</a>.</p>
</div>
